#contain
{
 max-width: 600px;
 margin : 0 auto;
}
body
{
    background-color:white;
    font-family: 'Open Sans', sans-serif;
}
h1
{
	word-spacing:  15px;
}
.welcome
{
	padding : 25px;
}
.square
{
    width: 30%;
    margin:1.66%; 
    background-color:gray;
    padding-bottom:100px;
    float:left;
}

